body {
    height: 100vh;
    min-height: 100vh;
    background: #00AAAA;
    margin: 0 !important;
    overflow: hidden;
}

.navbar div {
    display: inline-block;
    margin: auto
}

.navbar {
    position: relative;
    margin: auto;
    display: block;
    width: 100%;
    height: 25%;
    border: none;
    text-align: center;
    transition: all 0.2s ease-in-out;
    background-color: #00AAAA;
    padding-top: 25px;
}

.navbar img {
    width: 100px;
    border-radius: 50%;
    margin-bottom: -50px;
}

.navbar button {
    border: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
    margin: auto;
    margin-left: 1px;
    margin-right: 1px;
    width: 100px;
    height: 30px;
    transition: all 0.2s ease-in-out
}

.navbar button:focus {
    outline: 0;
    height: 35px;
    color: #00AAAA;
    background-color: whitesmoke;
}

.kebawah {
    -webkit-animation-name: kebawah;
    animation-name: kebawah;
}

.animasi {
    animation-duration: 0.5s;
    -webkit-animation-duration: 0.5s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
}

.content.awal.kebawah.animasi {
    animation-duration: 2s;
    -webkit-animation-duration: 2s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
}

.navbar button:hover {
    color: #00AAAA;
    background-color: whitesmoke;
    height: 30px;
    transition: all 0.2s ease-in-out
}

.body {
    transition: all 1s ease-in-out;
    height: 55%;
    width: 100%;
    display: inline-block;
    margin: auto
}

.content {
    display: none;
    transition: all 1s ease-in-out;
    height: 100%
}

.boxIn {
    width: 50%;
    display: inline-block;
    margin: auto;
    text-align: center
}

.Box {
    margin: auto;
    padding: 10px;
    padding-left: 18px;
    opacity: 0.9;
    width: 80%;
    color: #00AAAA;
    background-color: whitesmoke;
    border-radius: 10px;
    position: center;
    border-style: double;
    border-color: white;
    text-align: center
}

#isi-bio {
    text-align: center;
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    background-color: whitesmoke;
    color: #00AAAA;
    border: 1px solid #00AAAA;
    border-radius: 15px;
    margin: auto;
    justify-content: center;
    width: 60%;
    padding: 20px
}

p {
    vertical-align: middle;
    margin: auto
}

li {}

.kotak {
    margin: auto;
    width: 80%;
    background-color: #00AAAA;
    border: 1px solid white;
    border-bottom-right-radius: 15px;
    margin-top: 10px;
}

.isian {
    text-align: left;
    padding: 10px;
    padding-right: 0px;
    color: white;
    border-bottom-right-radius: 15px
}

.persen {
    width: 0px;
    background-color: white;
}

#html .persen {
    -webkit-animation: kekanan 1.5s;
    -webkit-animation-fill-mode: forwards;
    animation: kekanan 1.5s;
    animation-fill-mode: forwards;
    max-width: 79%;
}

#js .persen {
    -webkit-animation: kekanan 1.5s;
    -webkit-animation-fill-mode: forwards;
    animation: kekanan 1.5s;
    animation-fill-mode: forwards;
    max-width: 82%;
}

#css .persen {
    -webkit-animation: kekanan 1.5s;
    -webkit-animation-fill-mode: forwards;
    animation: kekanan 1.5s;
    animation-fill-mode: forwards;
    max-width: 78%;
}

#java .persen {
    -webkit-animation: kekanan 1.5s;
    -webkit-animation-fill-mode: forwards;
    animation: kekanan 1.5s;
    animation-fill-mode: forwards;
    max-width: 83%;
}

#python .persen {
    -webkit-animation: kekanan 1.5s;
    -webkit-animation-fill-mode: forwards;
    animation: kekanan 1.5s;
    animation-fill-mode: forwards;
    max-width: 85%;
}

#django .persen {
    -webkit-animation: kekanan 1.5s;
    -webkit-animation-fill-mode: forwards;
    animation: kekanan 1.5s;
    animation-fill-mode: forwards;
    max-width: 84%;
}

#react .persen {
    -webkit-animation: kekanan 1.5s;
    -webkit-animation-fill-mode: forwards;
    animation: kekanan 1.5s;
    animation-fill-mode: forwards;
    max-width: 82%;
}

#isi-skill {
    width: 100%
}

#isi-soc div {
    margin: auto;
    display: inline-block;
}

#isi-soc img {
    max-width: 150px;
}

@media only screen and (max-width: 525px) {
    .navbar div {
        display: block;
        margin: auto
    }
    .navbar {
        display: inline-block
    }
    img {
        height: 100px;
        margin-bottom: 0px !important;
    }
}


/* Safari 4.0 - 8.0 */

@-webkit-keyframes kekanan {
    from {
        width: 0px;
    }
    to {
        width: 100%;
        color: #00AAAA
    }
}

@keyframes kekanan {
    from {
        width: 0px;
    }
    to {
        width: 100%;
        color: #00AAAA
    }
}

@keyframes kebawah {
    0% {
        transform: translateY(0rem);
        opacity: 0;
    }
    100% {
        transform: translateY(1rem);
        opacity: 1;
    }
    0% {
        transform: translateY(0rem);
        opacity: 0;
    }
}

@-webkit-keyframes kebawah {
    0% {
        -webkit-transform: transform;
        -webkit-opacity: 0;
    }
    100% {
        -webkit-transform: translateY(1rem);
        -webkit-opacity: 1;
    }
    0% {
        -webkit-transform: translateY(0);
        -webkit-opacity: 0;
    }
}